:root {
  --dot-color: black;
  --dot-size: 20px;
  --lane-height: 12.5%;
  --lane-label-width: 150px;
  --nav-panel-color: #0077BE;
  --nav-panel-text-color: white;
  --nav-panel-width: 200px;
  --padding-horizontal: 20px;
  --arena-athletics-color: #A74C3A;
  --arena-swimming-color: #2BAED0;
  --arena-default-color: grey;
  --arena-height: 400px;
  --arena-text-color: white;
  --arena-width: 800px;
  --time-label-longest: 65px;
  --medal-1-color: #d4af37;
  --medal-2-color: #838996;
  --medal-3-color: #A97142;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e0f7fa;
}

.nav-panel {
  width: var(--nav-panel-width);
  height: 100vh;
  background-color: var(--nav-panel-color);
  color: var(--nav-panel-text-color);
  padding: var(--padding-horizontal);
  overflow-y: auto;
}

.nav-item {
  margin: 10px 0;
  cursor: pointer;
}

.arena-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--arena-width);
}

.arena {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: var(--arena-height);
  border: none;
  background-color: var(--arena-default-color);
}

.arena[arena-sport = "Swimming"] {
  background-color: var(--arena-swimming-color);
}

.arena[arena-sport = "Athletics"] {
  background-color: var(--arena-athletics-color);
}

.lane {
  position: relative;
  width: 100%;
  height: var(--lane-height);
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.lane-label {
  padding-left: var(--padding-horizontal);
  color: var(--arena-text-color);
  font-weight: bold;
  text-align: center;
}

.dot {
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  transition: transform 1s linear;
  border-radius: 50%; /* circle */
  background-color: var(--dot-color);
}

.total-time-label {
  position: absolute;
  color: var(--arena-text-color);
  font-weight: bold;
}

.medal {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 0.5px solid white;
  box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.medal[medal-placing = "1"] {
  background-color: var(--medal-1-color);
}

.medal[medal-placing = "2"] {
  background-color: var(--medal-2-color);
}

.medal[medal-placing = "3"] {
  background-color: var(--medal-3-color);
}

.lap-marker {
  color: grey;
  font-size: 18px;
  text-align: right;
  padding-top: 10px;
  width: 100%; /* Match the arena width */
  max-width: var(--arena-width);
  margin: 0 auto;
}

#event-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}